notifications:
  email: false

language: node_js 
node_js:
- '6' 
- '5' 
- '4'

before_install:
- npm install standard -g

script:
- standard

deploy:
  provider: npm
  email: guillaume.lunik@gmail.com
  on:
    tags: true
  api_key:
    secure: d5h9NXM9Rsep+uzy3dLMboy+vfy5PpoysFCksrPDQWN0OFX2LNJaqEvIc7S091ehnuWTMYxZtqSZRZCr/55gHpTT0YaPJDj39xPbdvth6HKkY5XaDxbepciaMPEh+VjhyVkGszdY8kITQiCtjAV7tKRukTcGkYBJCmzsyLRoS0UbMhlWIq1g01eBcxD3j+v0Vcyr8FW3FBUDzU8onSKwBdKncCf7ycZE7smd4E8SP3Gl6k7l11CbKCNhcDrUg+LCjcILGW6590c5hjd2pehmwpJSzvuBlvaGSCCHidRYIOun7FmwcTO1jItEyqDFBhgXGl7I7w+3jpMDLJ1T9/4hpMqekAWEasuNvAckU54ZO+6qRxsBVaaHBQ0aiJQ9xk3eXk+kFHbRI/WRqg9MfpUzjYLIbFY0kKk7LgKREmpzG/Kns+87I0PS71yHJf8C8lEtOciMsW1XEEgGmf+DXwqSYk7b7aTDD7OjFeRuetyLhWUl3Rxt8DluGPQnjJutPeczqBn6jXP4EoUc3GppbhXrRs9WRuO2Zd3H6axotsMXMfzWhjK9s3xr66otQ4ovPP3KLSLB9pIV/S/yehdDorXZ4as4sbcC9pzMrs54odCgqYUbkEe77u2MlpsYCJWvnufhht9dedaGUGa05rTaI5ABYXVIZRDb90sOnYUoVMupBSI=
